<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 2px solid #777;
}

div.gallery img {
  width: 80%;
  height: 80%;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>
<ul><a href="/"><h4>Home</h4></a></ul>
<div class="gallery">
  <a target="_self" href="/A">
    <img src="{{ url_for('static',filename='A.png') }}" alt="Cinque Terre">
  </a>
</div>

<div class="gallery">
  <a target="_self" href="/B">
    <img src="{{ url_for('static',filename='B.png') }}" alt="Forest">
  </a>
</div>

<div class="gallery">
  <a target="_self" href="/C">
    <img src="{{ url_for('static',filename='C.png') }}" alt="Forest">
  </a>
</div>

<div class="gallery">
  <a target="_self" href="/D">
    <img src="{{ url_for('static',filename='D.png') }}" alt="Forest">
  </a>
</div>

<div class="gallery">
  <a target="_self" href="/E">
    <img src="{{ url_for('static',filename='E.png') }}" alt="Forest">
  </a>
</div>

<div class="gallery">
  <a target="_self" href="/F">
    <img src="{{ url_for('static',filename='F.png') }}" alt="Forest">
  </a>
</div>
<!--div class="gallery">
  <a target="_self" href="/G">
    <img src="{{ url_for('static',filename='G.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/H">
    <img src="{{ url_for('static',filename='H.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/I">
    <img src="{{ url_for('static',filename='I.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/J">
    <img src="{{ url_for('static',filename='J.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/K">
    <img src="{{ url_for('static',filename='K.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/L">
    <img src="{{ url_for('static',filename='L.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/M">
    <img src="{{ url_for('static',filename='M.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/N">
    <img src="{{ url_for('static',filename='N.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/O">
    <img src="{{ url_for('static',filename='O.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/P">
    <img src="{{ url_for('static',filename='P.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/Q">
    <img src="{{ url_for('static',filename='Q.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/R">
    <img src="{{ url_for('static',filename='R.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/S">
    <img src="{{ url_for('static',filename='S.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/T">
    <img src="{{ url_for('static',filename='T.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/U">
    <img src="{{ url_for('static',filename='U.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/V">
    <img src="{{ url_for('static',filename='V.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/W">
    <img src="{{ url_for('static',filename='W.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/X">
    <img src="{{ url_for('static',filename='X.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/Y">
    <img src="{{ url_for('static',filename='Y.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/Z">
    <img src="{{ url_for('static',filename='Z.png') }}" alt="Forest">
  </a>
</div-->
</body>
</html>


