<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 2px solid #777;
}

div.gallery img {
  width: 80%;
  height: 80%;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>
<ul><a href="/"><h4>Home</h4></a></ul>
<div class="gallery">
  <a target="_self" href="/listA">
    <img src="{{ url_for('static',filename='A.png') }}" alt="Cinque Terre">
  </a>
</div>

<div class="gallery">
  <a target="_self" href="/listB">
    <img src="{{ url_for('static',filename='B.png') }}" alt="Forest">
  </a>
</div>

<div class="gallery">
  <a target="_self" href="/listC">
    <img src="{{ url_for('static',filename='C.png') }}" alt="Forest">
  </a>
</div>

<div class="gallery">
  <a target="_self" href="/listD">
    <img src="{{ url_for('static',filename='D.png') }}" alt="Forest">
  </a>
</div>

<div class="gallery">
  <a target="_self" href="/listE">
    <img src="{{ url_for('static',filename='E.png') }}" alt="Forest">
  </a>
</div>

<div class="gallery">
  <a target="_self" href="/listF">
    <img src="{{ url_for('static',filename='F.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listG">
    <img src="{{ url_for('static',filename='G.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listH">
    <img src="{{ url_for('static',filename='H.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listI">
    <img src="{{ url_for('static',filename='I.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listJ">
    <img src="{{ url_for('static',filename='J.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listK">
    <img src="{{ url_for('static',filename='K.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listL">
    <img src="{{ url_for('static',filename='L.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listM">
    <img src="{{ url_for('static',filename='M.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listN">
    <img src="{{ url_for('static',filename='N.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listO">
    <img src="{{ url_for('static',filename='O.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listP">
    <img src="{{ url_for('static',filename='P.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listQ">
    <img src="{{ url_for('static',filename='Q.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listR">
    <img src="{{ url_for('static',filename='R.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listS">
    <img src="{{ url_for('static',filename='S.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listT">
    <img src="{{ url_for('static',filename='T.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listU">
    <img src="{{ url_for('static',filename='U.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listV">
    <img src="{{ url_for('static',filename='V.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listW">
    <img src="{{ url_for('static',filename='W.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listX">
    <img src="{{ url_for('static',filename='X.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listY">
    <img src="{{ url_for('static',filename='Y.png') }}" alt="Forest">
  </a>
</div>
<div class="gallery">
  <a target="_self" href="/listZ">
    <img src="{{ url_for('static',filename='Z.png') }}" alt="Forest">
  </a>
</div>
</body>
</html>


