<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>User</title>
        <!-- COPY/PASTE BOKEHJS RESOURCES HERE -->
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js"
        crossorigin="anonymous"></script>
		<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.js"
        crossorigin="anonymous"></script>
		<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.2.min.js"
        crossorigin="anonymous"></script>
        {{script|safe}}
        <style>
		table, th, td {
  		border: 0.5px solid black;
		}
		.tooltip {
  		position: relative;
  		display: inline-block;
  		border-bottom: 1px dotted black;
		}

		.tooltip .tooltiptext {
  		visibility: hidden;
  		width: 120px;
  		background-color: black;
  		color: #fff;
  		text-align: center;
  		border-radius: 6px;
  		padding: 5px 0;

  		/* Position the tooltip */
  		position: absolute;
  		z-index: 1;
		}

		.tooltip:hover .tooltiptext {
  		visibility: visible;
		}
		</style>
    </head>
    <body>
    	<h2>Welcome {{userdes}} </h2>
	    <ul><a href="/"><h4>Home</h4></a></ul>
      {{div|safe}}
      <h4>The Recommend Books for You</h4>
	    <table>
	    <tr>	
	    {% for item in bimg[:5]%}
	    <td> 
	    <div class="tooltip">	
	       <img src={{item[0]}} alt={{item[1]}}/><span class="tooltiptext">{{item[1]}}</span>
	    </div>   
	    </td>   
	    {% endfor %}
  		</tr>
  		<tr>
        {% for item in bimg[5:]%}
        <td> 
        <div class="tooltip">	
	       <img src={{item[0]}} alt={{item[1]}}/><span class="tooltiptext">{{item[1]}}</span>
	    </div>   
	    </td>
	    {% endfor %}
        </tr>
		</table>
		<h4>List of the books that you rate 10</h4>
        <select name="stocks" id="stocks">
        {% for item in rate10list %}
			<option value={{item}}>{{item}}</option>
		{% endfor %}
	    </select> 
    </body>
</html>
